extends menu-layout

block content
  h1 Books Delete
  p.delete-notice.alert-warning 
    | Deleting an book will result in deleting all entries associated with this book.
    | Please modify your data accordingly. This actions is irreversable.
  div.container
    form(action="/books/delete", method="post")
      if error.messages
        span.alert-danger Something went wrong with the submission.
      div.form-group
        select.form-control(name="book")
          option(value="" selected) -- Choose book to delete --
          each book in books
            option(value=book.ISBN) #{book.ISBN}, #{book.Title}, #{book.NumPages} σελ, εκδ #{book.pubName}, #{book.PubYear}
        if error.messages && error.messages.Borrowed
          small.alert-danger.form-text Book #{error.values.Borrowed} is currently borrowed and cannot be deleted.
      div.form-group
        input.form-control(type="submit", value="Submit")