extends menu-layout

block content
  div.container
    form(action="/books/update", method="post")
      
      select(name="book")
        option(value="" selected) --Choose book to edit--
        each book in books
          option(value=book.ISBN) #{book.ISBN}, #{book.Title}, #{book.NumPages} σελ, εκδ #{book.pubName}, #{book.PubYear}  
      input(type="text", name="title", placeholder="Book Title")
      input(type="checkbox", name="new")
      input(type="submit", value="Submit")
