extends menu-layout

block content
  h1 Books Update
  div.container
    form(action="/books/update", method="post")
      if error
        span.alert-danger Something went wrong with the submission.
      div.form-group
        select.form-control(name="book" required)
          option(value="" selected) -- Choose book to edit --
          each book in books
            option(value=book.ISBN) #{book.ISBN}, #{book.Title}, #{book.NumPages} σελ, εκδ #{book.pubName}, #{book.PubYear}
        if error && error.messages && error.messages.BookExists
          small.alert-danger.form-text Book #{error.values.BookExists} does not exist.
      div.form-group
        input.form-control#Title(type="text", name="Title", placeholder=" ")
        label.form-control-placeholder(for="Title") Book Title
      div.form-group
        input.form-control#NumPages.form-number(type="number", name="NumPages", min="0", max="10000", placeholder=" ")
        label.form-control-placeholder(for="NumPages") Number of Pages
        small.form-text.text-muted Can be from 0 to 10000
      div.form-group
        select#pubName.form-control(name="pubName")
          option(value="" selected) -- Choose publisher --
          each publisher in publishers
            option(value=publisher.pubName) #{publisher.pubName}, #{publisher.estYear}, 
              | #{publisher.Street} #{publisher.Number}, #{publisher.PostalCode}
        if error && error.messages && error.messages.BookExists
          small.alert-danger.form-text Publisher #{error.values.PublisherExists} does not exist.
      div.form-group
        input#pubYear.form-control(type="number", name="pubYear", min="0", max=year, placeholder=" ")
        label.form-control-placeholder(for="pubYear") Year of Publication
        small.form-text.text-muted Can be from 0 to #{year}
      div.form-group
        input.form-control(type="submit", value="Submit")
