extends menu-layout

block content
  h1 Members Delete
  div.container
    p.delete-notice.alert-warning 
      | Deleting a Member might corrupt the Database. <br>
      | Please modify your data accordingly. This action is irreversable.
    form(action="/member/delete", method="post")
      if error.messages
        span.alert-danger Something went wrong with the submission.
      div.form-group
        select.form-control(name="member" required)
          option(value="" selected) -- Choose member to delete --
          each member in members
            option(value=member.memberID) #{member.memberID}, #{member.MFirst}, #{member.MLast} , #{member.Street}, #{member.Number}, #{member.PostalCode}, #{member.MBirthDate.getFullYear().concat("-",member.MBirthDate.getMonth(),"-",member.MBirthDate.getDate())}
        if error.messages && error.messages.MemberExists
          small.alert-danger.form-text Member #{error.values.MemberExists} does not exist.
              div.form-group
        input.form-control(type="submit", value="Submit")