extends menu-layout

block content
  h1 publisher update
  div.container
    form(action="/publisher/update", method="post")
      if error.messages
        span.alert-danger Something went wrong with the submission.
      div.form-group
        select.form-control(name="publisher")
          option(value="" selected) -- Choose publisher to edit --
          each publisher in publishers
            option(value=publisher.pubName) #{publisher.pubName}, #{publisher.estYear}, #{publisher.Street} , #{publisher.Number}, #{publisher.PostalCode}
      div.form-group
        input.form-control#pubName(type="text", name="pubName", placeholder=" ")
        label.form-control-placeholder(for="pubName") Publisher Name
        if error.messages && error.messages.pubName
          small.alert-danger.form-text pubName #{error.value} alreaedy exists
      div.form-group
        input.form-control#estYear(type="number", name="estYear", placeholder=" ")
        label.form-control-placeholder(for="estYear") publisher year of establishment
      div.form-group
        input.form-control#Street(type="text", name="Street", placeholder=" ")
        label.form-control-placeholder(for="Street") Publisher Address street
      div.form-group
        input.form-control#Number(type="number", name="Number", placeholder=" ")
        label.form-control-placeholder(for="Number") Publisher Address Number
      iv.form-group
        input#PostalCode(type="text", name="PostalCode", placeholder=" ",pattern="[0-9]{5}", 
          oninvalid="setCustomValidity('Must be 5 Numerical characters')",
          onchange="try{setCustomValidity('')}catch(e){}")
        label.form-control-placeholder(for="PostalCode") Publisher Postal Code
      div.form-group
        input.form-control(type="submit", value="Submit")       
      