extends menu-layout

block content
  h1 Employee Delete
  div.container
    p.delete-notice.alert-warning 
      | Deleting an employee will result in deleting all entries associated with this employee.
      | Please modify your data accordingly. This action is irreversable.
    form(action="/tmpEmployees/delete", method="post")
      if error
        span.alert-danger Something went wrong with the submission.
      div.form-group
        select.form-control(name="tmpEmp" required)
          option(value="" selected) -- Choose temporary employee to edit --
          each tmpEmp in tmpEmps
            option(value=tmpEmp.empID) #{tmpEmp.EFirst} #{tmpEmp.ELast}, #{tmpEmp.Salary}, #{tmpEmp.ContractNr}
        if error && error.messages && error.messages.tmpEmployeeExists
          small.alert-danger.form-text Temporary employee #{error.values.tmpEmployeeExists} does not exist.
      div.form-group
        input.form-control(type="submit", value="Submit")